.sidebar{
    position: fixed;
    height: 1000px;
    left: 0;
    bottom: 0;
    top: 65px;
    background-color: white;
    width: 120px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    z-index: 101;
}

.sidebar-link{
    height: 75px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    padding-top: 8px;
    cursor:pointer;
}

.sidebar-icon-desc{
    display: flex;
    text-align: center;
    padding: 0;
    margin: auto;
}

.sidebar-link:hover{
    background-color: lightgray;
}



.home, .subscriptions, .explore, .originals, .youtube-music, .library
{
    height: 40px;
}